@model IEnumerable<SourceVPP.Models.ChuDe>


<a href="#" class="list-group-item list-group-item-action active" style="background-color: darkorange; color: white; font-weight:bold; border:none" aria-current="true">
    CHỦ ĐỀ SÁCH
</a>
@foreach (var item in Model)
{
    <a href="@Url.Action("BookByTopic", "Topic", new { @macd = item.MaChuDe })" class="list-group-item list-group-item-action" style="color: blue">
        @item.TenChuDe
    </a>
}


