@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Footer</title>
</head>
<body>
    <div class="row" style="margin-right: 0;">
        <div style="background-color: orange; color: white; text-align: center; padding: 0">
            <p>
                Liên hệ: Công nghệ Thông tin - Trường Đại học Công Thương Tp.HCM Link: fanpage và Link: youtube <br />
                Địa chỉ: 140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, Tp.HCM. ĐT: (028).3816673 (ext 136) Mail: kcntt@hufi.edu.vn
            </p>
        </div>
    </div>
</body>
</html>
