
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SidebarLeft</title>
</head>
<body>
    <div class="list-group">
        @Html.Action("TopicPartial", "Topic")
        @Html.Action("AuthorPartial", "Author")
    </div>
</body>
</html>
