@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SidebarLeft</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/carousel.css">
    <style>
        .custom-prev, .custom-next {
            background-color: black; /* Màu nền khi không hover */
            padding: 4px;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            position: absolute; /* Đặt nút ở vị trí tuyệt đối */
            top: 50%; /* Đặt nút ở giữa theo chiều dọc */
            transform: translate(-50%, -50%); /* Giữ nút ở giữa, điều chỉnh theo chiều dọc và ngang */
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng chuyển tiếp khi hover */
            box-shadow: 0 2px 10px rgba(255, 255, 255, 0.6); /* Hiệu ứng bóng cho nút màu trắng */
        }

        .carousel {
            position: relative; /* Để có thể sử dụng position:absolute cho các nút */
        }

        .carousel-control-next {
            right: -25px; /* Đặt nút sát mép bên phải */
        }

        .carousel-inner {
            position: relative; /* Để có thể sử dụng hover */
        }

        /* Khi hover vào carousel-inner, nút cũng sẽ zoom */
        .carousel-inner:hover ~ .custom-prev,
        .carousel-inner:hover ~ .custom-next {
            transform: translate(-50%, -50%) scale(2); /* Tăng kích thước và giữ vị trí khi hover */
            box-shadow: 0 4px 20px rgba(255, 255, 255, 0.8); /* Tăng độ bóng khi hover, màu trắng */
        }

        /* Khi hover vào chính các nút, chúng cũng sẽ zoom */
        .custom-prev:hover,
        .custom-next:hover {
            transform: translate(-50%, -50%) scale(2); /* Tăng kích thước khi hover */
            box-shadow: 0 2px 10px rgba(255, 255, 255, 0.6); /* Tăng độ bóng khi hover, màu trắng */
        }
    </style>

</head>
<body>
    <div id="carouselSidebar" class="carousel p-0" data-bs-ride="carousel">
        <div class="carousel-inner">
            @Html.Action("CompanyPartial", "Company")
        </div>
        <button class="carousel-control-prev custom-prev" type="button" data-bs-target="#carouselSidebar" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next custom-next" type="button" data-bs-target="#carouselSidebar" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="~/Content/js/carousel.js"></script>
</body>
</html>
