@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Slide</title>
</head>
<body>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-top: 10px">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/images/logo/Anh1.png" class="d-block w-100" width="100%" height="300" alt="Anh1">
            </div>
            <div class="carousel-item active">
                <img src="~/Content/images/logo/Anh2.png" class="d-block w-100" width="100%" height="300" alt="Anh1">
            </div>
            <div class="carousel-item active">
                <img src="~/Content/images/logo/Anh3.png" class="d-block w-100" width="100%" height="300" alt="Anh1">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</body>
</html>
