<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/js/User.js"></script>
    <script src="~/Content/js/Cloudinary.js"></script>
    <script src="~/Content/js/GHN.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #F0F0F0
        }

        header > * {
            background-color: white;
        }

        article > .container > * {
            background-color: white;
            margin-bottom: 20px;
        }

        footer {
            background-color: white;
        }
    </style>
</head>
<body>
    <header style="margin-bottom: 20px">
        @RenderPage("Header.cshtml")
    </header>
    <article>
        @RenderBody()
    </article>
    <footer>
        @RenderPage("Footer.cshtml")
    </footer>

    <script>
        fetchUserData();
    </script>
</body>
</html>