@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .nav-item {
            margin-right: 20px;
        }

        .top-bar {
            background-color: #C43240;
            padding: 5px 0;
        }

        .top-bar .nav-link {
            margin-left: 15px;
            font-size: 22px;
        }

        .top-bar .nav-link:hover {
            color: #adb5bd;
        }

        .logo img {
            max-height: 80px;
            width: 100%;
            object-fit: contain;
        }

        .is-invalid {
            border-color: red;
        }

        .invalid-feedback {
            display: none;
            color: red;
            font-size: 12px;
        }

        .is-invalid ~ .invalid-feedback {
            display: block;
        }
        .icon-back {
            display: flex;
            align-items: center;
        }

        section {
            display: flex;
            margin: 150px auto 0;
            max-width: 600px;
        }

        form {
            text-align: center;
        }

        .display-5 {
            display: inline-block;
            margin: 0;
            font-size: 22px;
            font-weight: 400;
        }
    </style>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
    <script src="~/Content/js/User.js"></script>
</head>
<body>
    <div class="top-bar py-2">
        <div class="container">
            <div class="row w-100 align-items-center">
                <div class="col-2 p-0">
                    <div class="logo">
                        <a href="/">
                            <img src="~/Content/images/logo/logoclipit.png" alt="Logo" style="width: 80%" height="80">
                        </a>
                    </div>
                </div>
                <div class="col-8 d-flex align-items-center">
                    <ul class="navbar-nav flex-row ms-3">
                        <li class="nav-item text-white">
                            <a class="nav-link" href="/Home/Home">Đặt lại mật khẩu</a>
                        </li>
                    </ul>
                </div>

                <div class="col-2 text-end">
                    <a href="#!" class="text-decoration-none" style="color: white">Bạn cần giúp đỡ</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Login 11 - Bootstrap Brain Component -->
    <section class="py-3 py-md-5 py-xl-8 bg-white" style="border-radius: 5px; box-shadow: #6b6b6b 0px 1px 8px 0px;">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-2 text-start">
                    <a href="/Home/Login" class="icon-back">
                        <img src="~/Content/images/logo/icons8-back-100.png" width="40" height="40" alt="Back" />
                    </a>
                </div>

                <div class="col-8 text-center">
                    <p class="display-5">Đặt lại mật khẩu</p>
                </div>

                <div class="col-2"></div>
            </div>
            <div class="row justify-content-center mt-4">
                <!-- Thông báo lỗi -->
                <div class="col-8">
                    <div class="alert alert-danger" id="notificationResetpassword" style="display: none;">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-8">
                    <form id="forgotForm">
                        <div class="row gy-3 overflow-hidden">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control border-0 border-bottom rounded-0" name="email" id="email" placeholder="name@example.com">
                                    <label for="email" class="form-label">Email</label>
                                    <div class="invalid-feedback">Vui lòng nhập địa chỉ email hợp lệ.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-lg" id="continue-forgotpassword" type="submit">TIẾP THEO</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById('forgotForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            let isValid = true;

            const email = document.getElementById('email');

            if (email.value.trim() === "") {
                email.classList.add("is-invalid");
                isValid = false;
            }
            else {
                email.classList.remove("is-invalid");
            }

            if (isValid) {
                const checkemail = await checkEmailResetPassword(email.value.trim());

                if (checkemail) {
                    // Kiểm tra trạng thái xác thực email
                    const response = await fetch('/User/CheckEmailVerified', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ email: email.value.trim() }),
                    });

                    const result = await response.json();

                    if (result.emailVerified) {
                        await sendResetPasswordEmail(email.value.trim());
                        document.getElementById('notificationResetpassword').style.display = 'none';
                        window.location.href = `/Home/ResetPassword?email=${encodeURIComponent(email.value.trim())}`;
                    }
                    else {
                        const errorImage = document.createElement('img');
                        errorImage.src = "/Content/images/logo/icons8-error-100.png";
                        errorImage.width = 30;
                        errorImage.height = 30;
                        errorImage.alt = "Error";
                        errorImage.style.verticalAlign = "middle";
                        errorImage.style.marginRight = "12px";

                        const notification = document.getElementById('notificationResetpassword');
                        notification.innerHTML = '';

                        const messageContainer = document.createElement('div');
                        messageContainer.style.display = 'flex';
                        messageContainer.style.alignItems = 'center';

                        messageContainer.appendChild(errorImage);
                        messageContainer.appendChild(document.createTextNode(" Chưa xác thực email. Vui lòng xác thực email!"));

                        notification.appendChild(messageContainer);
                        notification.style.display = 'block';
                    }
                }
                else {
                    const errorImage = document.createElement('img');
                    errorImage.src = "/Content/images/logo/icons8-error-100.png";
                    errorImage.width = 30;
                    errorImage.height = 30;
                    errorImage.alt = "Error";
                    errorImage.style.verticalAlign = "middle";
                    errorImage.style.marginRight = "12px";

                    const notification = document.getElementById('notificationResetpassword');

                    notification.innerHTML = '';

                    const messageContainer = document.createElement('div');
                    messageContainer.style.display = 'flex';
                    messageContainer.style.alignItems = 'center';

                    messageContainer.appendChild(errorImage);
                    messageContainer.appendChild(document.createTextNode(" Không tìm thấy tài khoản"));

                    notification.appendChild(messageContainer);

                    notification.style.display = 'block';
                }
            }
        });
    </script>
</body>
</html>
