
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@Html.Partial("Slide")
@Html.Partial("SidebarLeft")

<p style="text-align: center; font-size: 30px; margin-top: 10px; font-weight: bold">LAPTOP</p>
<div class="container">
    @Html.Action("LaptopPartial", "Laptop")
</div>

