
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<p style="text-align: center; font-size: 30px; margin-top: 10px">LIST BOOK</p>
@Html.Action("BookPartial", "Book")

