
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<div class="container p-0">
    <div class="row">
        @Html.Partial("Slide")
    </div>
    <div class="row">
        @Html.Partial("SidebarLeft")
    </div>
    <div class="row">
        <p style="text-align: center; font-size: 30px; margin-top: 10px; font-weight: bold">LAPTOP</p>
        @Html.Action("LaptopPartial", "Laptop")
    </div>
</div>

